In [170]:
import pandas as pd
import numpy as np
from numpy import loadtxt
from pylab import *
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from IPython.core.interactiveshell import InteractiveShell  
InteractiveShell.ast_node_interactivity = "all"
from IPython.display import display, HTML
import pandas as pd
from scipy import stats
import pandas_profiling
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import missingno as msno
from sklearn import preprocessing;

In [171]:
url = "https://raw.githubusercontent.com/hoshangk/machine_learning_model_using_flask_web_framework/5ba759cee6df6453caee49bda38371f7a2d1747b/adult.csv"

df = pd.read_csv(url,error_bad_lines=False)

In [172]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [173]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [174]:
df = df.drop(['fnlwgt', 'educational-num'], axis = 1) 

col_names = df.columns 

for c in col_names: 
	df = df.replace("?", np.NaN) 
df = df.apply(lambda x:x.fillna(x.value_counts().index[0]))

In [175]:
df.replace(['Divorced', 'Married-AF-spouse', 
			'Married-civ-spouse', 'Married-spouse-absent', 
			'Never-married', 'Separated', 'Widowed'], 
			['divorced', 'married', 'married', 'married', 
			'not married', 'not married', 'not married'], inplace = True) 

category_col =['workclass', 'race', 'education', 'marital-status', 'occupation', 
			'relationship', 'gender', 'native-country', 'income'] 
labelEncoder = preprocessing.LabelEncoder() 

mapping_dict ={} 
for col in category_col: 
	df[col] = labelEncoder.fit_transform(df[col]) 

	le_name_mapping = dict(zip(labelEncoder.classes_, 
						labelEncoder.transform(labelEncoder.classes_))) 

	mapping_dict[col]= le_name_mapping 
print(mapping_dict)

{'workclass': {' ?': 0, ' Federal-gov': 1, ' Local-gov': 2, ' Never-worked': 3, ' Private': 4, ' Self-emp-inc': 5, ' Self-emp-not-inc': 6, ' State-gov': 7, ' Without-pay': 8}, 'race': {' Amer-Indian-Eskimo': 0, ' Asian-Pac-Islander': 1, ' Black': 2, ' Other': 3, ' White': 4}, 'education': {' 10th': 0, ' 11th': 1, ' 12th': 2, ' 1st-4th': 3, ' 5th-6th': 4, ' 7th-8th': 5, ' 9th': 6, ' Assoc-acdm': 7, ' Assoc-voc': 8, ' Bachelors': 9, ' Doctorate': 10, ' HS-grad': 11, ' Masters': 12, ' Preschool': 13, ' Prof-school': 14, ' Some-college': 15}, 'marital-status': {' Divorced': 0, ' Married-AF-spouse': 1, ' Married-civ-spouse': 2, ' Married-spouse-absent': 3, ' Never-married': 4, ' Separated': 5, ' Widowed': 6}, 'occupation': {' ?': 0, ' Adm-clerical': 1, ' Armed-Forces': 2, ' Craft-repair': 3, ' Exec-managerial': 4, ' Farming-fishing': 5, ' Handlers-cleaners': 6, ' Machine-op-inspct': 7, ' Other-service': 8, ' Priv-house-serv': 9, ' Prof-specialty': 10, ' Protective-serv': 11, ' Sales': 12, ' Tech-support': 13, ' Transport-moving': 14}, 'relationship': {' Husband': 0, ' Not-in-family': 1, ' Other-relative': 2, ' Own-child': 3, ' Unmarried': 4, ' Wife': 5}, 'gender': {' Female': 0, ' Male': 1}, 'native-country': {' ?': 0, ' Cambodia': 1, ' Canada': 2, ' China': 3, ' Columbia': 4, ' Cuba': 5, ' Dominican-Republic': 6, ' Ecuador': 7, ' El-Salvador': 8, ' England': 9, ' France': 10, ' Germany': 11, ' Greece': 12, ' Guatemala': 13, ' Haiti': 14, ' Holand-Netherlands': 15, ' Honduras': 16, ' Hong': 17, ' Hungary': 18, ' India': 19, ' Iran': 20, ' Ireland': 21, ' Italy': 22, ' Jamaica': 23, ' Japan': 24, ' Laos': 25, ' Mexico': 26, ' Nicaragua': 27, ' Outlying-US(Guam-USVI-etc)': 28, ' Peru': 29, ' Philippines': 30, ' Poland': 31, ' Portugal': 32, ' Puerto-Rico': 33, ' Scotland': 34, ' South': 35, ' Taiwan': 36, ' Thailand': 37, ' Trinadad&Tobago': 38, ' United-States': 39, ' Vietnam': 40, ' Yugoslavia': 41}, 'income': {' <=50K': 0, ' >50K': 1}}

In [176]:
df.head(10)

,age,workclass,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,7,9,4,1,1,4,1,2174,0,40,39,0
1,50,6,9,2,4,0,4,1,0,0,13,39,0
2,38,4,11,0,6,1,4,1,0,0,40,39,0
3,53,4,1,2,6,0,2,1,0,0,40,39,0
4,28,4,9,2,10,5,2,0,0,0,40,5,0
5,37,4,12,2,4,5,4,0,0,0,40,39,0
6,49,4,6,3,8,1,2,0,0,0,16,23,0
7,52,6,11,2,4,0,4,1,0,0,45,39,1
8,31,4,12,4,10,1,4,0,14084,0,50,39,1
9,42,4,9,2,4,0,4,1,5178,0,40,39,1

In [177]:
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
  
X = df.values[:, 0:12] 
Y = df.values[:, 12]

In [178]:
X_train, X_test, y_train, y_test = train_test_split( 
           X, Y, test_size = 0.3, random_state = 100) 
  
dt_clf_gini = DecisionTreeClassifier(criterion = "gini", 
                                     random_state = 100, 
                                     max_depth = 5, 
                                     min_samples_leaf = 5) 
  
dt_clf_gini.fit(X_train, y_train) 
y_pred_gini = dt_clf_gini.predict(X_test) 
  
print ("Desicion Tree using Gini Index\nAccuracy is ", 
             accuracy_score(y_test, y_pred_gini)*100 )

DecisionTreeClassifier(max_depth=5, min_samples_leaf=5, random_state=100)

Desicion Tree using Gini Index
Accuracy is  83.13031016480704

In [179]:
X_test[7]

array([45,  5, 10,  2, 10,  0,  4,  1,  0,  0, 60, 39], dtype=int64)

In [180]:
arr = np.array([1, 2, 3, 4, 5])
type(arr)

numpy.ndarray

# Guardar El Modelo

In [181]:
import joblib
joblib.dump(dt_clf_gini, 'model.pkl', compress=3)

['model.pkl']

# Realizar predicciones en Batch

In [182]:
from script import ValuePredictor

In [183]:
ValuePredictor(X_test[7])

1

In [184]:
dt_clf_gini.predict(X_test[7].reshape(1, 12))

array([1], dtype=int64)

# Creacion API Local

## Back End

In [185]:
from werkzeug.utils import cached_property
from flask import Flask
import werkzeug
werkzeug.cached_property = werkzeug.utils.cached_property
from flask_restplus import Api, Resource, fields
import joblib

In [186]:
app = Flask(__name__)

api = Api(
    app, 
    version='1.0', 
    title='Income Prediction API',
    description='Income Prediction API')

ns = api.namespace('Prediction', 
     description='Income Prediction')
   
parser = api.parser()

parser.add_argument(
    'Age', 
    type=int, 
    required=True, 
    help='Age for the person', 
    location='args')

parser.add_argument(
    'workclass', 
    type=int, 
    required=True, 
    help='workclass for the person', 
    location='args')

parser.add_argument(
    'education', 
    type=int, 
    required=True, 
    help='education level for the person', 
    location='args')

parser.add_argument(
    'marital-status', 
    type=int, 
    required=True, 
    help='marital-status for the person', 
    location='args')

parser.add_argument(
    'occupation', 
    type=int, 
    required=True, 
    help='occupation for the person', 
    location='args')

parser.add_argument(
    'relationship', 
    type=int, 
    required=True, 
    help='relationship for the person', 
    location='args')

parser.add_argument(
    'race', 
    type=int, 
    required=True, 
    help='race for the person', 
    location='args')

parser.add_argument(
    'gender', 
    type=int, 
    required=True, 
    help='gender for the person', 
    location='args')

parser.add_argument(
    'capital-gain', 
    type=int, 
    required=True, 
    help='capital-gain for the person', 
    location='args')

parser.add_argument(
    'capital-loss', 
    type=int, 
    required=True, 
    help='capital-loss for the person', 
    location='args')

parser.add_argument(
    'hours-per-week', 
    type=int, 
    required=True, 
    help='hours-per-week working for the person', 
    location='args')

parser.add_argument(
    'native-country', 
    type=int, 
    required=True, 
    help='native-country for the person', 
    location='args')

resource_fields = api.model('Resource', {
    'result': fields.String,
});

## Front End

In [187]:
from script import ValuePredictor

In [188]:
@ns.route('/')
class PhishingApi(Resource):

    @api.doc(parser=parser)
    @api.marshal_with(resource_fields)
    def get(self):
        args = parser.parse_args()
        
        lista = np.array([args['Age'],
                          args['workclass'],
                          args['education'],
                          args['marital-status'],
                          args['occupation'],
                          args['relationship'],
                          args['race'],
                          args['gender'],
                          args['capital-gain'],
                          args['capital-loss'],
                          args['hours-per-week'],
                          args['native-country']
                         ])
        return {
         "result": ValuePredictor(lista)
        }, 200

In [189]:
app.run(debug=True, use_reloader=False, host='0.0.0.0', port=5000)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Running on http://0.0.0.0:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [16/Aug/2020 17:03:26] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [16/Aug/2020 17:03:26] "GET /swagger.json HTTP/1.1" 200 -
127.0.0.1 - - [16/Aug/2020 17:03:26] "GET /swaggerui/favicon-32x32.png HTTP/1.1" 200 -
127.0.0.1 - - [16/Aug/2020 17:03:58] "GET /Prediction/?Age=45&workclass=5&education=10&marital-status=2&occupation=10&relationship=0&race=4&gender=1&capital-gain=0&capital-loss=0&hours-per-week=60&native-country=39 HTTP/1.1" 200 -